.log-bar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.log {
  width: 60%;
  padding: 1%;
  margin: 2%;
}

.details {
  padding: 1%;
  margin-top: 4%;
  text-align: right;
  text-align: center;
  padding-left: 15%;
}

.name {
  font-size: 18px;
  color: #0000ff;
}

.role {
  font-size: 16px;
  color: #a435cb;
}

.company {
  font-size: 15px;
  color: #800000;
}

.title-img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.main-div {
  display: flex;
  max-width: 100%;
  margin: 2%;
}

.main-img {
  display: block;
  width: 100%;
  height: 500px;
  text-align: center;
  box-shadow: 2px 3px 3px 4px #041107;
}

.upcoming {
  width: 93%;
  text-align: center;
  margin: 3%;
  box-shadow: 2px 2px 2px 2px #ddd;
}

.h1title {
  color: #CD5C5C;
  font-size: 30px;
  border: blue;
}

.h2title {
  color: #800000;
  font-size: 30px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  justify-content: space-around;
  margin: 1%;
}

.event-1 {
  width: 500px;
  margin: 1%;
  padding: 1%;
  box-shadow: 3px 3px 3px 3px #1FA056;
}

.copy {
  text-align: center;
  font-size: 20px;
  color: #0000ff;
  max-width: 100%;
  padding: 1%;
  margin: 2%;
  background: #87ceeb;
  box-shadow: 3px 3px 3px 3px #023735;
}

.link {
  text-decoration: none;
  color: #0000ff;
}

.bclass {
  overflow-wrap: hidden;
}

.bt {
  box-shadow: 2px 2px 2px 2px #21618C;
  color: #ba4a00;
  padding: 1%;
  margin: 0.5%;
}

/* media queries for mobile device  Nexus-5  */
@media screen and (min-width:320px) and (max-width:480px) {
  .log-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    text-align: center;
  }

  .log {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .name {
    font-size: 25px;
    color: #a435cb;
  }

  .role {
    font-size: 22px;
    color: blue;
  }

  .company {
    font-size: 20px;
    color: #800000;
  }

  .main-div {
    max-width: 100%;
  }

  .title-img {
    max-width: 100%;
    border-radius: 50%;
  }

  .upcoming {
    text-align: center;
    max-width: 100%;
  }

  .main-img {
    display: block;
    width: 100%;
    height: 10%;
  }

  .h1title {
    color: #CD5C5C;
    font-size: 20px;
  }

  .h2title {
    color: #0000FF;
    font-size: 16px;
  }

  .events {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .event-1 {
    border: 2px 2px 2px 2px solid #87ceeb;
    max-width: 95%;
    box-shadow: 2px 2px 2px 2px;
    margin: 1%;
  }

  .pfont {
    font-size: 20px;
  }

  .event1-pic {
    width: 200px;
    padding: 2%;
    margin: 2%;
  }

  .link, .bc {
    text-decoration: none;
    color: #0000ff;
  }

  .copy {
    text-align: center;
    font-size: 20px;
    color: #0000ff;
    box-shadow: 2px 2px 2px 2px;
  }

  .bt {
    box-shadow: 2px 2px 2px 2px #21618c;
    color: #032b2a;
    padding: 1%;
    margin: 1.5%;
  }
}

/* media queries for  Ipad Device */
@media screen and (min-width:481px) and (max-width:768px) {
  .log-bar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
  }

  .log, .details {
    max-width: 45%;
  }

  .name {
    font-size: 23px;
    color: #0000ff;
  }

  .role {
    font-size: 20px;
    color: #a435cb;
  }

  .company {
    font-size: 22px;
    color: #800000;
  }

  .main-div {
    max-width: 100%;
  }

  .main-img {
    max-width: 100%;
  }

  .upcoming {
    text-align: center;
    width: 95%;
  }

  .events {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
  }

  .event-1 {
    max-width: 44%;
    border: 2px 2px 2px 2px solid #000;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
  }

  .pfont {
    font-size: 27px;
  }

  .link, .bc {
    text-decoration: none;
    color: #0000ff;
  }

  .bt {
    box-shadow: 2px 2px 2px 2px #21618c;
    color: #032b2a;
    padding: 1%;
    margin: 1.2%;
    font-size: 20px;
    width: 30%;
  }

  .copy {
    text-align: center;
    font-size: 20px;
    color: #8000ff;
    box-shadow: 2px 2px 2px 2px;
  }
}
